<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIESGST Forum</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='cube.png')}}" type="image/x-icon">
    <meta name="description" content="">
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{{ url_for('static',filename='images/ico/apple-touch-icon-144.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{{ url_for('static',filename='images/ico/apple-touch-icon-114.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{{ url_for('static',filename='images/ico/apple-touch-icon-72.png')}}">
    <link rel="apple-touch-icon-precomposed"
        href=" {{ url_for('static',filename='images/ico/apple-touch-icon-57.png')}}">
</head>

<body>
    <!-- Navbar Menu  ---->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static',filename='lojo.png')}}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('editprofile') }}">Back</a>
                    </li>
                   
                    <!--                     <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                </ul>
                <form class="d-flex" id="another_temp_search" method="POST" target="_blank">
                    <input class="form-control me-2" id="temp_search_another" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit" onclick="temp1();">&#128269;</button>
                </form>
            </div>
        </nav>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />   
    <div class="container">   
        <div class="main-body p-0"> 
            <div class="inner-wrapper">
                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <div class="media forum-item">
                                    <a href="/userprofile/{{user[1]}}" class="card-link">
                                        <img src="	https://avatars.dicebear.com/api/avataaars/{{ user[0]}}.svg" class="rounded-circle"
                                            width="50" alt="User" />
                                        <small class="d-block text-center text-muted">{{ user[1] }}</small>
                                    </a>
                                        
                                    <div class="media-body ml-3">
                                        <h6>{{ques.title}}</h6>
                                        <p class="text-secondary">
                                            {{ ques.discription}}
                                        </p>           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
    </div>


    <style type="text/css">
        body {
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }
    </style>
        <div class="container"> 
<div class="main-body p-2 ml-2">
    <button type="button" class="btn btn-primary pb-1" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
    <div id="demo" class="collapse">
        <br>
        <form action="/replay/{{ ques.id }}" method="post">
        <input type="text" class="form-control pd-2" name="ncom" value="Comment!" id="floatingInputGrid" required>
        <br>
        <button class="btn btn-outline-dark btn-sm mx-1" href="#" type="submit">Comment</button>
    </form>
    </div>
  </div>
</div>
  <hr class="my-4">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="container">
  <div class="main-body p-0">
      <div class="inner-wrapper">
  {% for i in range(lenghtsq)  %}
                        
                    
                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <div class="media forum-item">
                                    <a href="/userprofile/{{users[i].username}}" class="card-link">
                                        <img src="	https://avatars.dicebear.com/api/avataaars/{{ users[i].Image_Str}}.svg" class="rounded-circle"
                                            width="50" alt="User" />
                                        <small class="d-block text-center text-muted">{{ users[i].username }}</small>
                                    </a>
                                        
                                    <div class="media-body ml-3">
                                        <p>
                                            {{ replay[i].discription}}
                                        </p>
                                         13 minutes ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                <!-- /Forum List -->

                <!-- Forum Detail -->
                <!-- /Forum Detail -->

                <!-- /Inner main body -->
            </div>
            <!-- /Inner main -->
        </div>

        <!-- New Thread Modal -->
        
    </div>


    <style type="text/css">
        body {
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }
        </style>
    <script type="text/javascript">

    </script>
        <script type="text/javascript" src="{{ url_for('static',filename='smooth-scroll.js')}}"></script>
        <script>
            var scroll = new SmoothScroll('a[href*="#"]');
        </script>
</body>

</html>
