<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-15 p-b-20">
				<span id = "message1" style="color:red"> </span> <br><br>
				<form class="login100-form validate-form" id="our_reset_pass_form" onsubmit ="return validateForm()" method="post">
					<span class="login100-form-title p-b-70">
						Welcome
					</span>
					<span class="login100-form-avatar">
						<img src="https://bootdey.com/img/Content/avatar/avatar7.png" id="img_src" alt="Admin" class="rounded-circle" width="150" alt="AVATAR">
						<script>
							document.getElementById('img_src').src = "https://avatars.dicebear.com/api/avataaars/"+ "{{ user.Image_Str}}" +".svg";
						</script>
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter Password">
						<input class="input100" name="reset_password" id="pswd1" type="password" name="pass">
						<span class="focus-input100" data-placeholder="New Password"></span>
                    
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" id="pswd2" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Confirm Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
                    <br>
                    <br><br>
				</form>
			</div>
		</div>
	</div>
	
    <script>
        function validateForm() {
            //collect form data in JavaScript variables
            var pw1 = document.getElementById("pswd1").value;
            var pw2 = document.getElementById("pswd2").value;
            if(pw1 == "") {
              document.getElementById("message1").innerHTML = "**Fill the password please!";
              return false;
            }
            if(pw2 == "") {
              document.getElementById("message1").innerHTML = "**Enter the password please!";
              return false;
            } 
            if(pw1.length < 8) {
              document.getElementById("message1").innerHTML = "**Password length must be atleast 8 characters";
              return false;
            }

            if(pw1.length > 15) {
              document.getElementById("message1").innerHTML = "**Password length must not exceed 15 characters";
              return false;
            }
          
            if(pw1 != pw2) {
              document.getElementById("message1").innerHTML = "**Passwords are not same";
              return false;
            } else {
              document.getElementById("our_reset_pass_form").action = "/reset_password/{{token}}"
			  document.getElementById("our_reset_pass_form").submit();
            }
         }
        </script>
	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='daterangepicker/moment.min.js')}}"></script>
	<script src="{{ url_for('static',filename='daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='main.js')}}"></script>

</body>
</html>
